[submodule "product-service"]
	path = product-service
	url = https://github.com/nekusu/mindhub-rp-product-service
	branch = sync-communications
[submodule "order-service"]
	path = order-service
	url = https://github.com/nekusu/mindhub-rp-order-service
	branch = sync-communications
[submodule "user-service"]
	path = user-service
	url = https://github.com/nekusu/mindhub-rp-user-service
	branch = sync-communications
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/nekusu/mindhub-rp-api-gateway
[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/nekusu/mindhub-rp-eureka-server
